# ignore virtual environment folder
src/rest_api/venv

# ignore logs
src/rest_api/utils/log/

# ignore local caches
src/rest_api/__pycache__
src/rest_api/actions/__pycache__
src/rest_api/routes/__pycache__
src/rest_api/database/__pycache__
src/rest_api/utils/__pycache__
src/rest_api/configs/__pycache__
src/rest_api/unit_test/__pycache__
src/rest_api/unit_test/.pytest_cache
rc/rest_api/.pytest_cache

# ignore local cached databases
src/rest_api/database/can_frames.db
src/rest_api/database/mcu_ids.db
key.json
src/ota/google_drive_api/__pycache__
src/ota/google_drive_api/__init__.py
src/rest_api/tests/__pycache__