blinker==1.8.2
click==8.1.7
flake8==7.1.0
flask==3.0.3
importlib-metadata==8.0.0
itsdangerous==2.2.0
jinja2==3.1.4
MarkupSafe==2.1.5
mccabe==0.7.0
msgpack==1.0.8
packaging==24.1
pycodestyle==2.12.0
pyflakes==3.2.0
python-can==4.4.2
typing-extensions==4.12.2
werkzeug==3.0.3
wrapt==1.16.0
zipp==3.19.2
