<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAN Interface</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
        padding-top: 20px;
    }
        .container {
        max-width: 800px;
    }
        .log-container {
        max-height: 300px;
        overflow-y: scroll;
        border: 1px solid #ccc;
        padding: 10px;
    }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="mb-4">CAN Interface Control</h1>
        <button type="button" class="btn btn-primary mb-3" onclick="window.open('/apidocs', '_blank');">Go to Docs</button>
        <button type="button" class="btn btn-primary mb-3" onclick="window.open('/api/logs', '_blank');">Show Logs</button>
        
        <form id="can-form" class="mb-4">
            <div class="form-group">
                <label for="can-id">CAN ID:</label>
                <input type="text" class="form-control" id="can-id" name="can-id" pattern="0x[0-9A-Fa-f]{1,4}" placeholder="e.g., 0xFa, 0x1234" required>
            </div>
            <div class="form-group">
                <label for="can-data">CAN Data:</label>
                <input type="text" class="form-control" id="can-data" name="can-data" pattern="(0x[0-9A-Fa-f]{1,2},){0,7}0x[0-9A-Fa-f]{1,2}" placeholder="e.g., 0x12,0x34" required>
            </div>
            <button type="button" class="btn btn-success" onclick="sendFrame()">Send Frame</button>
        </form>

        <div class="mb-4">
            <button type="button" class="btn btn-info mb-3" onclick="requestIds()">Request IDs</button>
            <button type="button" class="btn btn-success mb-3" onclick="updateToVersion()">Update to Version</button>
            <button type="button" class="btn btn-info mb-3" onclick="readInfoBattery()">Read Info Battery</button>
            <button type="button" class="btn btn-info mb-3" onclick="readInfoEngine()">Read Info Engine</button>
            <button type="button" class="btn btn-info mb-3" onclick="readInfoDoors()">Read Info Doors</button>
            <button type="button" class="btn btn-success mb-3" onclick="writeInfoDoors()">Write Doors Info</button>
            <button type="button" class="btn btn-success mb-3" onclick="writeInfoBattery()">Write Battery Info</button>
        </div>

        <div class="mb-4">
            <h2>Response:</h2>
            <pre id="response-output" class="bg-light p-3 border rounded"></pre>
        </div>

        <div class="mb-4 log-container">
            <h2>Logs:</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Index</th>
                        <th>Log Message</th>
                    </tr>
                </thead>
                <tbody id="log-body">
                </tbody>
            </table>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    
</body>
</html>
